<!DOCTYPE html>
<html lang="en" manifest="Manifest.appcache">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Rights</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container page-header">
        <div class="col-sm-7 col-md-8">
            <a asp-page="/Index" class="h2 header-text">Washington State Foster Rights</a>
        </div>
        <div class="col-sm-5 col-md-4">
            <gcse:search></gcse:search>
        </div>
        <script>
            (function () {
                var cx = '007992560897023614041:gabknweyqpc';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
    </div>
    <div class="container">
        <div class="container col-sm-12">
            <div class="row">
                @if (string.Compare((string)@ViewData["Title"], "Your Rights, Your Life") != 0)
                {
                <ol class="breadcrumb">
                    <li><a asp-page="/Index">Choose your role</a></li>
                    @if (!string.IsNullOrEmpty((string)ViewData["role"]))
                    {
                        @if (string.Compare((string)@ViewData["role"], "FosterParent") == 0)
                        {
                            ViewData["rolepretty"] = "Foster Parent";
                        }
                        else if (string.Compare((string)@ViewData["role"], "SocialWorker") == 0)
                        {
                            ViewData["rolepretty"] = "Social Worker";
                        }
                        else if (string.Compare((string)@ViewData["role"], "FosterYouth") == 0)
                        {
                            ViewData["rolepretty"] = "Foster Youth";
                        }
                        else
                        {
                            ViewData["rolepretty"] = ViewData["role"];
                        }
                        <li><a asp-page="/@ViewData["role"]">@ViewData["rolepretty"]</a></li>
                    }
                    <li><a>@ViewData["Title"]</a></li>
                </ol>
                }
                </div>

        </div>
        <nav class="navbar navbar-default col-sm-3 col-sm-push-9">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav flex-columnn" role="navigation">
                    <li><a asp-page="/Index">Introduction</a></li>
                    <li><a asp-page="/Complaint">File a Complaint</a></li>
                    <li><a asp-page="/Safety">Safety and Well-Being</a></li>
                    <li><a asp-page="/Court">Court Proceedings</a></li>
                    <li><a asp-page="/Placement">Placement and Visitation</a></li>
                    <li><a asp-page="/Education">Education</a></li>
                    <li><a asp-page="/HealthCare">Health Care</a></li>
                    <li><a asp-page="/Caseworker">Caseworker Responsibilities</a></li>
                    <li><a asp-page="/Resources">Additional Resources</a></li>
                    <li><a asp-page="/Glossary">Glossary</a></li>
                    <li><a asp-page="/About">About</a></li>
                </ul>
            </div>
        </nav>



        <div class="container body-content col-sm-9 col-sm-pull-3">
            @RenderBody()
        </div>
        <partial name="_CookieConsentPartial" />
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <hr />
    <div class="container">
        <div class="row col-xs-12">
            <p class="small" style="margin-top: 36px">Disclaimer: This website is intended as a practical guide for youth in foster care. Although it refers to laws and policies that may affect
    foster youth, it does not provide legal advice and the information in the manual should not be used or relied upon as legal advice. A
    youth who wants to know how laws or policies apply to a specific situation should contact his or her attorney, caseworker, or Guardian
    Ad Litem (GAL), or the Office of the Family and Children's Ombuds.</p>
            <footer>
                <p>&copy; 2018 - MockingbirdSociety.org</p>
            </footer>
        </div>
    </div>
</body>
</html>
